<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    	doLogin = function(){
    		console.log("do login called");
    		var data = {};
    		data.username = $('#username').val();
    		data.password = $('#password').val();

    		$.ajax({
          type: "POST",
          url: "/users/authenticate",
          data: data,
          success: function(data){
            if(data.result == "success"){
              //alert("login success ");
              location="/dashboard";
            }else{
              alert("Username or password is not correct.");
            }
          }
        });
    	}
    </script>
    <h1><%= title %></h1>
    <input id="username" type="text" name="" placeholder="username"><br/><br/>
    <input id="password" type="password" name="" placeholder="password"><br/><br/>
    <input type="button" value="Login" name="" onclick="doLogin()">
  </body>
</html>
